*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
}

.backImg{
    background-image: url("medias/img/desafio-image.jpeg");
    background-size: cover;
    background-position: center;
    height: 700px;
    justify-content: center;
    align-items: center;

}
.cabecalho{
    background-color: #333;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

.imgSocialMedia{
    background-color: #333;
    display: flex;
    flex-direction: row-reverse;
}

.imgSocial{
    padding: 10px;
    height: 40px;
    width: 40px;
}

.buttonNav{
    margin-left: 20px;
}

.buttonNav {
    text-decoration: none;
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 10px;
}

.buttonNavHome{
    display: flex;
    justify-content: center;
    background-color: deeppink;
    text-decoration: none;
    border-radius: 5px;
}
.titleImg{
    margin-top: 11%;
    display: flex;
    justify-content: center;
    font-size: 60px;

}
.subtitleImg{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.pClassImg{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 20.6px;

}
 .btns{
    background-color: deeppink;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
 }

 .backImg .btnsContainer{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.btns:hover, .buttonNavHome:hover{
    background-color: rgb(188, 31, 115);
}

.buttonNav:hover{
    background-color: deeppink;
}

.Profile{
    display: flex;
    background-color: #333;
}

.textProfile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teamCard{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.cardContainer{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.teamImgs{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.teamTxt{
    display: inline;
    width: 500px;
    margin-left: 15px;
}

.teamDesc, .textProfile{
    padding: 50px;
}


.descHeader{
    font-size: 30px;
}
